<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Going too far for a joke">
    <meta name="author" content="General Chat LLC">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>General Chat</title>

    <!-- Bootstrap Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


    <!-- for calendar -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clndr/1.4.7/clndr.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
    <link href="customcss/calendar.css" rel="stylesheet">
    <link href="customcss/clndr.min.css" rel="stylesheet">
</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div id="mini-clndr">
                <script id="mini-clndr-template" type="text/template">

                    <div class="controls">
                        <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %></div><div class="clndr-next-button">&rsaquo;</div>
                    </div>

                    <div class="days-container">
                        <div class="days">
                            <div class="headers">
                                <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
                            </div>
                            <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
                        </div>
                        <div class="events">
                            <div class="headers">
                                <div class="x-button">x</div>
                                <div class="event-header">DETAILS</div>
                            </div>
                            <div class="events-list">
                                <% _.each(eventsThisMonth, function(event) { %>
                                    <div class="event-item">
                                        <div class="event-item-name">
                                            <%= event.name %> - <span class="event-item-time"><%= event.time %></span></div>
                                        <div class="event-item-location">@
                                            <%= event.location %>
                                        </div>

                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                    </div>

                </script>
            </div>


        </div>

    </div>
</body>

</html>

<script>
    // there are a lot of options. the rabbit hole is deep.

    var currentMonth = moment().format('YYYY-MM');
    var nextMonth = moment().add('month', 1).format('YYYY-MM');

    var events = [
        { date: currentMonth + '-' + '10', name: 'CATS', location: 'CATS', time: "5:00pm" },
        { date: currentMonth + '-' + '19', name: 'Cat Frisbee', location: 'Jefferson Park', time: "3:00pm" },
        { date: currentMonth + '-' + '23', name: 'Kitten Demonstration', location: 'Center for Beautiful Cats', time: "1:00pm" },
        { date: nextMonth + '-' + '23', name: 'Kitten Demonstration', location: 'Center for Beautiful Cats' },
    ];


    $('#mini-clndr').clndr({
        template: $('#mini-clndr-template').html(),
        events: events,
        clickEvents: {
            click: function (target) {
                if (target.events.length) {
                    var daysContainer = $('#mini-clndr').find('.days-container');
                    daysContainer.toggleClass('show-events', true);
                    $('#mini-clndr').find('.x-button').click(function () {
                        daysContainer.toggleClass('show-events', false);
                    });
                }
            }
        },
        adjacentDaysChangeMonth: true,
        forceSixRows: true
    });

</script>